@{
    Layout = "_Layout";
}

<!-- Intro -->

<div class="intro">
    <div class="intro_content d-flex flex-row flex-wrap align-items-start justify-content-between">

        <!-- Intro Item -->
        <div class="intro_item">
            <div class="intro_image"><img src="images/intro_1.jpg" alt=""></div>
            <div class="intro_body">
                <div class="intro_title"><a href="#">Conference Program</a></div>
                <div class="intro_subtitle">Donec quis metus ac arcu luctus accumsan.</div>
            </div>
        </div>

        <!-- Intro Item -->
        <div class="intro_item">
            <div class="intro_image"><img src="images/intro_2.jpg" alt=""></div>
            <div class="intro_body">
                <div class="intro_title"><a href="#">Supersessions</a></div>
                <div class="intro_subtitle">Donec quis metus ac arcu luctus accumsan.</div>
            </div>
        </div>

        <!-- Intro Item -->
        <div class="intro_item">
            <div class="intro_image"><img src="images/intro_3.jpg" alt=""></div>
            <div class="intro_body">
                <div class="intro_title"><a href="#">The Speakers</a></div>
                <div class="intro_subtitle">Donec quis metus ac arcu luctus accumsan.</div>
            </div>
        </div>

        <!-- Intro Item -->
        <div class="intro_item">
            <div class="intro_image"><img src="images/intro_4.jpg" alt=""></div>
            <div class="intro_body">
                <div class="intro_title"><a href="#">Explore Sessions</a></div>
                <div class="intro_subtitle">Donec quis metus ac arcu luctus accumsan.</div>
            </div>
        </div>

        <!-- Intro Item -->
        <div class="intro_item">
            <div class="intro_image"><img src="images/intro_5.jpg" alt=""></div>
            <div class="intro_body">
                <div class="intro_title"><a href="#">Directory</a></div>
                <div class="intro_subtitle">Donec quis metus ac arcu luctus accumsan.</div>
            </div>
        </div>

        <!-- Intro Item -->
        <div class="intro_item">
            <div class="intro_image"><img src="images/intro_6.jpg" alt=""></div>
            <div class="intro_body">
                <div class="intro_title"><a href="#">Speakers Schedule</a></div>
                <div class="intro_subtitle">Donec quis metus ac arcu luctus accumsan.</div>
            </div>
        </div>

    </div>
</div>

<!-- Pricing -->

<div class="pricing">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/pricing.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="pricing_section_title">Choose a plan</div>
            </div>
        </div>
        <div class="row pricing_row">

            <!-- Pricing Item -->
            <div class="col-lg-4 pricing_col">
                <div class="pricing_item">
                    <div class="pricing_item_content">
                        <div class="pricing_level">Beginner</div>
                        <div class="pricing_price">Free</div>
                        <ul class="pricing_list">
                            <li>3 Conference Tickets</li>
                            <li>Vip Table</li>
                            <li>Drinks</li>
                            <li>Special PASS</li>
                            <li>VIP Dinner</li>
                        </ul>
                        <div class="pricing_info">
                            <a href="#">i</a>
                        </div>
                        <div class="button pricing_button"><a href="#">Order plan</a></div>
                    </div>
                </div>
            </div>

            <!-- Pricing Item -->
            <div class="col-lg-4 pricing_col">
                <div class="pricing_item pricing_item_mid">
                    <div class="pricing_item_content">
                        <div class="pricing_level">recommended</div>
                        <div class="pricing_price">$29<span>90</span></div>
                        <ul class="pricing_list">
                            <li>3 Conference Tickets</li>
                            <li>Vip Table</li>
                            <li>Drinks</li>
                            <li>Special PASS</li>
                            <li>VIP Dinner</li>
                        </ul>
                        <div class="pricing_info">
                            <a href="#">i</a>
                        </div>
                        <div class="button pricing_button"><a href="#">Order plan</a></div>
                    </div>
                </div>
            </div>

            <!-- Pricing Item -->
            <div class="col-lg-4 pricing_col">
                <div class="pricing_item">
                    <div class="pricing_item_content">
                        <div class="pricing_level">Professional</div>
                        <div class="pricing_price">$59<span>90</span></div>
                        <ul class="pricing_list">
                            <li>3 Conference Tickets</li>
                            <li>Vip Table</li>
                            <li>Drinks</li>
                            <li>Special PASS</li>
                            <li>VIP Dinner</li>
                        </ul>
                        <div class="pricing_info">
                            <a href="#">i</a>
                        </div>
                        <div class="button pricing_button"><a href="#">Order plan</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Calendar")

@section HeaderImage {
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/images/index.jpg" data-speed="0.8"></div>

}

@section Header{
    <!-- Home -->

    <div class="home">

        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="home_date">August 25, 2018</div>
                            <div class="home_title">2018 Public Policy Conference</div>
                            <div class="home_location">Miami Marina Bay, FL</div>
                            <div class="home_text">Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt, sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
                            <div class="home_buttons">
                                <div class="button home_button"><a href="#">Buy Tickets Now!</a></div>
                                <div class="button home_button"><a href="#">Find out more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}